{%- if block.settings.button_label != blank -%}
  <div class="btn-group" >
    <a {{ block.shopify_attributes }} class="btn btn--large hide-empty w-100 {{ block.settings.button_style }}" href="{{- block.settings.button_link | default: '#' -}}" {% if block.settings.button_link == blank %} tabindex="-1" {% endif %}>{{- block.settings.button_label -}}</a>
  </div>
{%- endif -%}